@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "anonymous";
	src: url("../public/fonts/AnonymousPro.ttf") format("ttf"),;
}

@font-face {
	font-family: "chocolate";
	src: url("../public/fonts/Chocolate.ttf") format("ttf"),;
}

body {
	font-family: "anonymous", monospace;
}

#logo {
	font-family: "chocolate", cursive;
}

@layer base {
    :root {
      --background: 232 42% 99%;
      --foreground: 232 72% 3%;
      --muted: 202 8% 90%;
      --muted-foreground: 202 11% 30%;
      --popover: 232 42% 99%;
      --popover-foreground: 232 72% 3%;
      --card: 232 42% 98%;
      --card-foreground: 232 72% 2%;
      --border: 232 2% 93%;
      --input: 232 2% 93%;
      --primary: 232 45% 84%;
      --primary-foreground: 232 45% 24%;
      --secondary: 202 45% 84%;
      --secondary-foreground: 202 45% 24%;
      --accent: 262 45% 84%;
      --accent-foreground: 262 45% 24%;
      --destructive: 16 84% 43%;
      --destructive-foreground: 0 0% 100%;
      --ring: 232 45% 84%;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 232 58% 4%;
      --foreground: 232 29% 99%;
      --muted: 202 8% 10%;
      --muted-foreground: 202 11% 70%;
      --popover: 232 58% 4%;
      --popover-foreground: 232 29% 99%;
      --card: 232 58% 5%;
      --card-foreground: 0 0% 100%;
      --border: 232 2% 11%;
      --input: 232 2% 11%;
      --primary: 232 45% 84%;
      --primary-foreground: 232 45% 24%;
      --secondary: 202 45% 84%;
      --secondary-foreground: 202 45% 24%;
      --accent: 262 45% 84%;
      --accent-foreground: 262 45% 24%;
      --destructive: 16 84% 50%;
      --destructive-foreground: 0 0% 100%;
      --ring: 232 45% 84%;
    }
  }
  
@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
