@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 232 39% 99%;
    --foreground: 232 54% 3%;
    --muted: 52 6% 94%;
    --muted-foreground: 52 10% 38%;
    --popover: 232 39% 99%;
    --popover-foreground: 232 54% 3%;
    --card: 232 39% 99%;
    --card-foreground: 232 54% 3%;
    --border: 232 3% 93%;
    --input: 232 3% 93%;
    --primary: 232 79% 37%;
    --primary-foreground: 232 79% 97%;
    --secondary: 52 79% 37%;
    --secondary-foreground: 0 0% 0%;
    --accent: 52 79% 37%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 90% 36%;
    --destructive-foreground: 0 90% 96%;
    --ring: 232 79% 37%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 232 58% 1%;
    --foreground: 232 26% 100%;
    --muted: 52 6% 6%;
    --muted-foreground: 52 10% 62%;
    --popover: 232 58% 1%;
    --popover-foreground: 232 26% 100%;
    --card: 232 58% 1%;
    --card-foreground: 232 26% 100%;
    --border: 232 3% 14%;
    --input: 232 3% 14%;
    --primary: 232 79% 37%;
    --primary-foreground: 232 79% 97%;
    --secondary: 52 79% 37%;
    --secondary-foreground: 0 0% 0%;
    --accent: 52 79% 37%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 90% 51%;
    --destructive-foreground: 0 0% 100%;
    --ring: 232 79% 37%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
