@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 197 54% 99%;
    --foreground: 197 51% 2%;
    --muted: 167 40% 94%;
    --muted-foreground: 167 3% 30%;
    --popover: 197 54% 98%;
    --popover-foreground: 197 51% 1%;
    --card: 197 54% 98%;
    --card-foreground: 197 51% 1%;
    --border: 197 9% 92%;
    --input: 197 9% 92%;
    --primary: 197 85% 32%;
    --primary-foreground: 0 0% 100%;
    --secondary: 167 85% 32%;
    --secondary-foreground: 0 0% 100%;
    --accent: 227 85% 32%;
    --accent-foreground: 227 85% 92%;
    --destructive: 20 90% 40%;
    --destructive-foreground: 0 0% 100%;
    --ring: 197 85% 32%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 197 39% 2%;
    --foreground: 197 30% 99%;
    --muted: 167 40% 6%;
    --muted-foreground: 167 3% 70%;
    --popover: 197 39% 3%;
    --popover-foreground: 0 0% 100%;
    --card: 197 39% 3%;
    --card-foreground: 0 0% 100%;
    --border: 197 9% 14%;
    --input: 197 9% 14%;
    --primary: 197 85% 32%;
    --primary-foreground: 0 0% 100%;
    --secondary: 167 85% 32%;
    --secondary-foreground: 0 0% 100%;
    --accent: 227 85% 32%;
    --accent-foreground: 227 85% 92%;
    --destructive: 20 90% 57%;
    --destructive-foreground: 0 0% 0%;
    --ring: 197 85% 32%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
