---
import { ThemeToggle } from "./theme-toggle";
const today = new Date();
import Gmail from "@/components/icons/google";
import X from "@/components/icons/twitter";
---

<footer class="bg-transparent backdrop-blur-sm flex flex-col sm:flex-row items-center justify-between py-8 px-4 fixed bottom-0 left-0 right-0 w-full">
	<div class="mb-4 sm:mb-0">
		© {today.getFullYear()} <a href="https://owenstack.github.io" class="text-primary hover:underline">Owen</a>. All rights reserved.
	</div>
	<div class="flex items-center space-x-4">
		<a href="mailto:jenukohefobi@gmail.com" class="hover:opacity-80">
			<Gmail className="text-primary w-6 h-6" />
		</a>
		<a href='http://twitter.com/oweneefobi' class="hover:opacity-80">
			<X className="text-primary w-6 h-6" />
		</a>
	</div>
	<ThemeToggle client:load />
</footer>
